<section>
    <div class="container">
        <div class="row">
            <div class="header-center">About Me</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="about-paragraph">
                    I like to learn, take things apart, and share what I know to help teach others. My most recent contract with Alexapath had me push myself to learn web development using NodeJs, and helped bridge the connection between robotics and controlling them through user friendly web applications. I’m also an enthusiast for attending hackathons. My two most recent events were Technica 2017, an all-women hackathon hosted at the University of Maryland where I was a mentor for around 850 participants, and the Fall 2017 CUNY Hackathon where I lead a team to place in the top 17 for an opportunity to pitch out projects to a panel of judges. Although I could not compete during Technica, I still wanted to give back to the hacker community after learning so much during the past year. I mentored and provided technical advice and assistance for several teams over the course of 30 hours. One of the teams which I assisted with one a challenge from Qualcomm for using one of their 410c development boards for their project.
                </div>
                <div class="about-paragraph">
                    The last hackathon I participated in was the CUNY Hackathon where my team and I worked on building a prototype for an idea of mine which was a social network for dogs and dog owners. Over the course of 28 hours, we built out a hardware companion, and a simple web application that would display the location of a dog wearing the hardness. Out of 55 teams, we were one of 17 selected to present our ideas to judges. Although we did not win any challenges, I was personally awarded the Google MVP Award from Raymond Blum after the judges learned that I was helping a group competing against us. I leant tools and taught the team how to use them, as well as taught them the basic of soldering and the use of different hardware components such as resistors and relays to get their projects running for the demo. I felt that hackathons should be treated as learning experiences and and offer to share what one knows to others.
                </div>
                <div class="about-paragraph">
                    Currently, I am looking for a full-time web development position. I am most proficient using Javascript, building out web services, and writing reusable and efficient code. I also have a good understanding of designing and implementing databases, deploying applications to production, and prototyping and designing hardware. I have recently started learning material design to improve my understanding of UI/UX, begun experimenting with Angular, and have also started teaching myself both Go and Kotlin. I am open minded to learn any new technologies, but I would be interested to learn more about mobile development and large scale web applications.
                </div>
            </div>
            
        </div>
    </div>
</section>
