<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bio-img"></div>
            </div>
            <div class="col-lg-8">
                <div class="bio-text-content">
                    <h1 class="mb-3">I’m Pat,</h1>
                    <p>
                        A web developer and hardware hacker from Queens, New York. I’ve been reverse engineering and taking things apart since I was a child, and it’s grown to a core aspect of my passion for the web, IoT, and of how technology can be used for the benefit of others and their lives. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>