<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bio-img"></div>
            </div>
            <div class="col-lg-8">
                <div class="bio-text-content">
                    <h1 class="mb-3">Full Stack Web Developer</h1>
                    <h1 class="mb-3">Hobby Electronics Enthusiast</h1>
                    <h1 class="mb-3">Hacker</h1>
                    <p>
                        As a recent university graduate and self taught developer, I strive to learn and hack what I can for the benefit of others
                        and myself. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>