<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bio-img"></div>
            </div>
            <div class="col-lg-8">
                <div class="bio-text-content">
                    <h1>Full Stack Web Developer</br> Hobby Electronics Enthusiast</br>Hacker</h1>
                    <p>
                        As a recent university graduate and self taught developer, I strive to learn and hack what I can for the benefit of others
                        and myself. I've been accepted into the Spring 2018 cohort, CUNY Startup Accelerator program and am the founder of Mishka, a social 
                        network focused on building more involved communities between dog walkers and their dogs. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>