<section>
    <div class="container">
        <div class="row">
            <div class="footer-padding">
                <!-- <div class="footer-heading"></div> -->
                <div class="redirect-btn">
                    <button type="button" onclick="location.href=location.href='/mywork'" class="btn project-btn">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</section>