<section>
    <div class="container">
        <div class="row">
            <div class="header-center">Page Still in Development</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="about-paragraph">
                    Thank you for taking an interest in the project! Unfortunately, the content for the page is still being compiled and revised. Check back in a few days to see updates!
                </div>
            </div>
        </div>
    </div>
</section>