<section>
    <div class="container">
        <div class="row">
            <div class="header-center">Projects</div>
        </div>
        <div class="project-container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="material-shadow-4dp img-fluid" src="/img/screenshots/mywork/mwsi-live-00.png">
                </div>
                <!-- <div class="col-lg-1"></div> -->
                <div class="col-lg-6">
                    <div class="project-detail-container">
                        <div class="project-header">
                            Project Title
                        </div>
                        <div class="project-subheader">
                            Project Sub Title
                        </div>
                        <div class="project-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis tempus dolor ac pulvinar. Duis vel leo et mauris interdum efficitur. Mauris placerat quis enim eget ullamcorper.
                        </div>
                        <div class="project-btn-container">
                            <button type="button" class="btn project-btn">View Event Details</button>
                            <button type="button" class="btn project-btn">View Project Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>