<section>
    <div class="container">
        <div class="row">
            <div class="header-center">My Work</div>
        </div>
        <div class="work-section">
            <% pageContent.forEach((myworkData)=>{ %>
                <div class="row ">
                    <div class="col-lg-8 work-img-padding">
                        <img class="work-img material-shadow-4dp" src="<%= myworkData.imgsrc %>"/>
                    </div>
                    <div class="col-lg-4 work-text-padding">
                        <div class="work-desc-header">
                            <%= myworkData.worktitle %>
                        </div>
                        <div class="work-desc-main">
                            <%= myworkData.workdesc %>
                        </div>
                        <div class="work-desc-btn">
                            <button type="button" onclick="location.href='mywork/<%= myworkData.workbtn %>';" class="btn btn-primary justify-content-center">More In Depth</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>