<div class="header-container">
    <div class="header-icon"></div>
    <nav class="navbar navbar-expand-md primary-nav justify-content-center navbar-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div><i class="navbar-toggler-icon"></i>Menu</div>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-font navbar-shift">
                <li class="nav-item nav-spacer nav-spacer">
                    <a class="nav-link nav-link-hv" href="/">Home</a>
                </li>
                
                <li class="nav-item nav-spacer">
                    <a class="nav-link nav-link-hv" href="#">Projects</a>
                </li>
                <li class="nav-item nav-spacer">
                    <a class="nav-link nav-link-hv" href="#">Work</a>
                </li>
                <li class="nav-item nav-spacer">
                    <a class="nav-link nav-link-hv" href="/skills">Skills</a>
                </li>
                <li class="nav-item nav-spacer nav-spacer">
                    <a class="nav-link nav-link-hv" href="#">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-hv" href="#">Contact</a>
                </li> -->
            </ul>
        </div>
    </nav>
</div>