<div class="container p-0">

    <section class="resume-section p-3 d-flex align-items-center flex-column">
        <div class="my-auto">
            <h2 class="mb-2">Patrick Hauke</h2>
            <div class="subheading text-center mb-1">patrick.hauke.nyc[at]gmail.com</div>
            <div class="row">
                <div class="col text-right">
                    <a href="https://github.com/PatrickHauke" class="github center-block">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
                <div class="col text-left">
                    <a href="https://www.linkedin.com/in/pat-hauke/">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Work Experience</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Lead Full Stack Web Developer</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Alexapath LLC | </b>Aug 2016 – Oct 2017</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>
                        <ul class="resume-content-list mb-0">
                            <li> Carried out full SDLC to update main website, mWSI Live, mWSI Sharing, and respective web services for Beta</li>
                            <li>Assisted with designing and writing various assembly instructions, user manuals, and documentation for mWSI</li>
                            <li>Remodeled site architecture and database to accommodate new features and ensure HIPAA and FDA compliance</li>
                            <li>Improved prototype to Alpha with new UI/UX and overhauled architecture to increase performance and scale</li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Brooklyn Tech Triangle Internship Program</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Alexapath LLC | </b>Aug 2016 – Oct 2017</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>

                        <ul class="resume-content-list mb-0">
                            <li>Built prototype to host P2P live video and control a robotic medical instrument via a web app written in NodeJs</li>
                            <li>Designed and implemented scripts to allow for automation of registration and deployment of devices</li>
                            <li>Assisted in designing and building several hardware circuits and prototype boards</li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Business Technology Internship</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Pfizer Inc, New York Headquarters | </b>Aug 2013 - Dec 2013</div>
                            <div class="text-primary">Manhattan, NY</div>
                        </div>

                        <ul class="resume-content-list mb-0">
                            <li>Rebuilt and reorganized departments internal Sharepoint site to improve workflow</li>
                            <li>Collaborated with multiple internal departments to implement best solutions to fit needs</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="resume-section p-3 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Volunteer Experience</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Mentor</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Technica 2017, All Womens Hackathon | </b>Nov 2017</div>
                            <div class="text-primary">College Park, Maryland</div>
                        </div>
                        <ul class="resume-content-list mb-0">
                            <li>Provided guidance, best practices, and assistance for over 850 participants, 150+ teams</li>
                            <li>Assisted with workshops demonstrating and teaching Git and React</li>
                            <li>Stayed on site for close to 28 hours during event to share knowledge and previous experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Technical Skills</h2>
            <div class="resume-content-padding">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="subeading mb-2">Development Lanuguages</h3>
                        <table class="resume-content-list">
                            <tr>
                                <td>Javascript</td>
                                <td class="border-spacing">3 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Bash</td>
                                <td class="border-spacing">5 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>SQL</td>
                                <td class="border-spacing">3 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Python</td>
                                <td class="border-spacing">1 years - Novice</td>
                            </tr>
                            <tr>
                                <td class="column-fluff">&nbsp;</td>
                                <td></td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="subeading mb-2">Frameworks and Libraries</h3>
                        <table class="resume-content-list">
                            <tr>
                                <td>NodeJs</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Express</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Websockets</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>WebRTC</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Bootstrap & JQuery</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>React & Angular</td>
                                <td class="border-spacing">0.5 years - Novice</td>
                            </tr>
                            
                            <tr>
                                <td class="column-fluff">&nbsp;</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Other Proficiencies</h2>
            <div class="resume-content-padding">
                <div class="row justify-content-start">
                    <div class="resume-content-list prof-content-shift">
                        <ul class="list-inline">
                            <li class="list-inline-item subheading">Database:</li>
                            <li class="list-inline-item">PostgreSQL - 2 years</li>
                            <li class="list-inline-item border-spacing">MongoDB - 1 year</li>
                            <li class="list-inline-item border-spacing">MySQL - 1 year</li>
                            <li class="list-inline-item border-spacing">Oracle - 1 year</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item subheading">AWS:</li>
                            <li class="list-inline-item">EC2 - 2 years</li>
                            <li class="list-inline-item border-spacing">EB - 1.5 years</li>
                            <li class="list-inline-item border-spacing">S3 - 1.5 years</li>
                            <li class="list-inline-item border-spacing">Route53 - 2 years</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item subheading">IoT Boards:</li>
                            <li class="list-inline-item">Arduino - 3.5 years</li>
                            <li class="list-inline-item border-spacing">Intel Edison - 2 years</li>
                            <li class="list-inline-item border-spacing">Snapdragon 410c and 820 - 0.5 years</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item subheading">Language:</li>
                            <li class="list-inline-item">English - Native</li>
                            <li class="list-inline-item border-spacing">Polish - Professional Working Proficiency</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item subheading">Misc:</li>
                            <li class="list-inline-item">Worked with high precision machining and 3D printing</li>
                            <li class="list-inline-item border-spacing">Proficiency with mechanical and electrical repairs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Education</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Bachelor of Technology in Computer Information Systems</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-3">
                                <b>New York City College of Technology | </b>Jan 2014 - Current</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>
                        
                    </div>
                    <div class="resume-content">
                        <h3 class="mb-0">CUNY Startup Accelerator, Spring 2018 Cohort </h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-3">
                                <b>CUNY | </b>Jan 2018 - Current</div>
                            <div class="text-primary">Manhattan, NY</div>
                        </div>
                        <div class="subtext resume-content-list">
                            <p class="border-spacing mb-0">Founder of Mishka, a social network application focused on unifying the dog walking community together</p>
                            <p class="border-spacing mb-0">One of 34 other startups from a total of 175 candidates accepted into Startup Accelerator Program </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- dl resume section -->
    <section class="resume-section p-3 d-flex align-items-center flex-column">
        <div class="my-auto">
            <button type="button" onclick="location.href='/getpdf';" class="btn project-btn">Download the PDF</button>
        </div>
    </section>
</div>