<div class="container p-0">

    <!-- <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Clarence
                <span class="text-primary">Taylor</span>
            </h1>
            <div class="subheading mb-5">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
                <a href="mailto:name@email.com">name@email.com</a>
            </div>
            <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative
                approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section> -->

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Work Experience</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Lead Full Stack Web Developer</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Alexapath LLC | </b>Aug 2016 – Oct 2017</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>
                        <ul class="resume-content-list mb-0">
                            <li>Transitioned development environment to a production ready build and deployed live</li>
                            <li>Overhauled and integrated several cross-domain web applications and web services</li>
                            <li>Redesigned and built out a new database and respective models in PostgreSQL</li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Internship</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Alexapath LLC | </b>Aug 2016 – Oct 2017</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>

                        <ul class="resume-content-list mb-0">
                            <li>Built platform to host live video and control a robotic medical instrument via a web app written
                                in NodeJs</li>
                            <li>Designed and implemented automation of registration and deployment of devices</li>
                            <li>Assisted in designing and building several hardware prototypes</li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Business Technology Internship</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-1">
                                <b>Pfizer Inc, New York Headquarters | </b>Aug 2013 - Dec 2013</div>
                            <div class="text-primary">Manhattan, NY</div>
                        </div>

                        <ul class="resume-content-list mb-0">
                            <li>Rebuilt and reorganized departments internal Sharepoint site to improve workflow</li>
                            <li>Collaborated with multiple internal departments to implement best solutions to fit needs</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Volunteer Experience</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Mentor for over 850 participants, more than 150 teams</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-3">
                                <b>Technica 2017, All Womens Hackathon | </b>Nov 2017</div>
                            <div class="text-primary">College Park, Maryland</div>
                        </div>
                        <ul class="resume-content-list mb-0">
                            <li>Provided guidance, best practices, and assistance through technical challenges</li>
                            <li>Assisted with workshops demonstrating and teaching Git and React</li>
                            <li>Stayed on site for close to 28 hours during event to share knowledge and previous experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Technical Skills</h2>
            <div class="resume-content-padding">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="subeading mb-2">Development Lanuguages</h3>
                        <table class="resume-content-list">
                            <tr>
                                <td>Javascript</td>
                                <td class="border-spacing">3 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Bash</td>
                                <td class="border-spacing">5 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>SQL</td>
                                <td class="border-spacing">3 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Python</td>
                                <td class="border-spacing">1 years - Novice</td>
                            </tr>
                            <tr>
                                <td class="column-fluff">&nbsp;</td>
                                <td></td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="subeading mb-2">Frameworks and Libraries</h3>
                        <table class="resume-content-list">
                            <tr>
                                <td>NodeJs</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Express</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>Websockets</td>
                                <td class="border-spacing">2 years - Expert</td>
                            </tr>
                            <tr>
                                <td>WebRTC</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>Bootstrap & JQuery</td>
                                <td class="border-spacing">2 years - Intermediate</td>
                            </tr>
                            <tr>
                                <td>React & Angular</td>
                                <td class="border-spacing">0.5 years - Novice</td>
                            </tr>
                            
                            <tr>
                                <td class="column-fluff">&nbsp;</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Other Proficiencies</h2>
            <div class="resume-content-padding">
                <div class="row justify-content-start">
                    <!-- <div class="col-lg-6"> -->
                        <div class="resume-content-list">
                            <ul class="list-inline">
                                <li class="list-inline-item">Database:</td>
                                <li class="list-inline-item">PostgreSQL 2 years</td>
                                <li class="list-inline-item border-spacing">MongoDB 1 year</td>
                                <li class="list-inline-item border-spacing">MySQL 1 year</td>
                                <li class="list-inline-item border-spacing">Oracle 1 year</td>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">AWS:</td>
                                <li class="list-inline-item">EC2 2 years</td>
                                <li class="list-inline-item border-spacing">EB 1.5 years</td>
                                <li class="list-inline-item border-spacing">S3 1.5 years</td>
                                <li class="list-inline-item border-spacing">Route53 2 years</td>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">Development Boards:</td>
                                <li class="list-inline-item">Arduino 3.5 years</td>
                                <li class="list-inline-item border-spacing">Intel Edison 2 years</td>
                                <li class="list-inline-item border-spacing">Snapdragon 410c 0.5 years</td>
                                <li class="list-inline-item border-spacing">Snapdragon 820 0.5 years</td>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">Language:</td>
                                <li class="list-inline-item">English - Native</td>
                                <li class="list-inline-item border-spacing">Polish - Professional Working Proficiency</td>
                            </ul>
                        </div>
                        <!-- <table class="resume-content-list">
                            <tr>
                                <td>Database</td>
                                <td class="border-spacing">PostgreSQL (2y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">MongoDB (1y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">MySQL (1y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">Oracle (1y)</td>
                            </tr>
                            <tr>
                                <td class="column-fluff prof-adjust">&nbsp;</td>
                                <td></td>
                            </tr>
                        </table>
                        <table class="resume-content-list">
                            <tr>
                                <td>AWS</td>
                                <td class="border-spacing">EC2 (2y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">EB (1.5y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">S3 (1.5y)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="border-spacing">Route53 (1y)</td>
                            </tr>
                            <tr>
                                <td class="column-fluff prof-adjust">&nbsp;</td>
                                <td></td>
                            </tr>
                        </table> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
            <h2 class="mb-3">Education</h2>
            <div class="resume-content-padding">
                <div class="resume-item mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Bachelor of Technology in Computer Information Systems</h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-3">
                                <b>New York City College of Technology | </b>Jan 2014 - Current</div>
                            <div class="text-primary">Brooklyn, NY</div>
                        </div>
                        
                    </div>
                    <div class="resume-content">
                        <h3 class="mb-0">CUNY Startup Accelerator, Spring 2018 Cohort </h3>
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="subheading mb-3">
                                <b>CUNY | </b>Jan 2018 - Current</div>
                            <div class="text-primary">Manhattan, NY</div>
                        </div>
                        <div class="subtext mb-0">
                            <p>Founder of Mishka, a social network application focused on unifying the dog walking community together</p>
                            <p>One of 34 other startups from a total of 175 candidates accepted into Startup Accelerator Program </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>