<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <%- include('partials/resource/styles') %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <% pageLayout.forEach((path)=>{ %>
        <%- include(path.dir); %>
    <% }) %>
    <%- include('partials/resource/script-loader') %>
  </body>
</html>
