.bio-img {
    width: 320px;
    height: 320px;
    /* margin-top: 15px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/patrick_team.jpg'); 
    /* box-shadow: 0 0 0 3px darkorange; */
}

.bio-text-content {
    padding: 20px 0px 0px 40px;
    overflow: hidden;
}

.bio-text-content h1 {
    color: rgba(0,0,0,1);
    font-size: 35px;
}

.bio-text-content p {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}