h1,h2,h3,h4,h5,h6{font-weight:500;text-transform:uppercase;color:#343a40}h2{font-size:3rem}
table{width:100%}tr{width:50%}.subheading{text-transform:uppercase;font-weight:500;font-size:1.35rem}
.subheading .subheading-primary{font-weight:bold}.subtext{padding-left:2rem}.subtext p{margin-bottom:2px}
.list-social-icons a{color:#495057}.list-social-icons a:hover{color:#bd5d38}.list-social-icons a .fa-lg{font-size:1.75rem}
.list-icons{font-size:3rem}.list-icons .list-inline-item i:hover{color:#bd5d38}#sideNav .navbar-nav .nav-item .nav-link{font-weight:600;text-transform:uppercase}
.resume-content-padding{padding-left:1.5rem;padding-right:1.5rem}.resume-content-list{font-size:1.2em}
section.resume-section .resume-item .resume-date{min-width:none}.bg-primary{background-color:#e69138 !important}
.text-primary{color:#e69138 !important;font-size:1.35rem}a{color:#818181}a:hover,a:focus,a:active{color:#ff8c00}
.border-spacing{border-left:1px solid #343a40;padding-left:.5rem}.column-fluff{padding-right:7.5em}
.prof-adjust{padding-right:5.7em}.prof-content-shift{padding-left:1rem}