<section>
    <div class="container">
        <div class="row work-done-padding">
            <div class="brief-initial-header">
                Result
            </div>
            <div class="brief-initial-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis tempus dolor ac pulvinar. Duis vel leo et mauris interdum efficitur. Mauris placerat quis enim eget ullamcorper. Praesent eu massa vitae lectus posuere aliquet eu quis enim. Praesent interdum molestie euismod. Praesent accumsan orci vel sollicitudin sodales. Donec faucibus velit id mi tempus, vel interdum eros blandit. Fusce sit amet enim pulvinar, hendrerit nulla at, tristique nisi. Nulla hendrerit urna nunc, nec rhoncus eros eleifend sed. Donec lobortis turpis quis ipsum posuere, eget placerat magna semper.
            </div>
        </div>
    </div>
</section>