<section>
    <div class="container">
        <div class="row">
            <div class="header-center">
                Alexapath: Mobile Whole Slide Imaging
            </div>
        </div>
        <div class="row">
            <div class="what-is-container">
                <div class="what-is-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat ipsum a sapien posuere convallis. Duis luctus, risus quis lobortis faucibus, ex nulla molestie massa, nec varius dui nulla quis ipsum. Nam euismod leo nisi, at imperdiet eros semper ut.
                </div>
                <div class="redirect-btn">
                    <button type="button" class="btn btn-success">Visit Mobile Whole Slide Imaging</button>
                </div>

                <div class="what-is-img-padding">
                    <img class="material-shadow-4dp what-is-img" src="/img/screenshots/mywork/mwsi-live-00.png">
                </div>
            </div>
        </div>
    </div>
</section>